<!DOCTYPE html>
<html lang="en">

<head>
	<title>Haider's Recipes</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'personal/css/login.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<!-- colors I liked: #3f3c42 (greyish black)
					 #ffffff (white)

 -->

<body class="body" style="background-color:#ffffff">
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="/">Home</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href='/profile/login/'>Login</a></li>
						<li><a href='/profile/register/'>Register</a></li>
						<li><a href='/profile/'>Profile</a></li>
					</ul>
				</div>
			</div>
		</nav>
	  <div class="col-sm-10">

		<div class='container-fluid'>
		<br><br>
		   {% block content %}
		   {% endblock %}
		</div>
	  </div>
		
	</div>
</body>

</html>